.status-in-transit {
    background-color: #dbeafe;
    color: #1e40af;
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.85rem;
}

.status-pending {
    background-color: #fef9c3;
    color: #713f12;
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.85rem;
}