@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #007AD7;
    overflow-x: hidden;
    font-family: Poppins, sans-serif;
}

span {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.slogan {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

section {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.background-branco {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.rodape-inicial {
    bottom: 28px;
    align-items: center;
    position: absolute;
    color: #121212;
}
.transportadora {
    top: 70%;
    width: 15%;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
}

.casa {
    top: 63%;
    width: 15%;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
}

.carrinho {
    top: 89%;
    width: 10%;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    animation: carrinho-andando 15s infinite;
}

@keyframes carrinho-andando {
    0% {
        transform: scaleX(1) scale(1.5);
        top: 89%;
        left: 0px;
    }
    50% {
        transform: scaleX(1) scale(0.7);
        top: 93%;
        left: 85%;
    }
    51% {
        transform: scaleX(-1) scale(0.7);
        top: 93%;
    }
    100% {
        transform: scaleX(-1) scale(1.5);
        top: 89%;
        left: 0px;
    }
}

.backgrounds {
    display: block;
    z-index: 1;
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
}

.background-azul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #007AD7;
}

.logo {
    width:450px;
    margin-bottom: 10px;
}

.area-sessao {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: auto;
    justify-content: center;
    margin-top: 120px;
    padding: 20px 0;
}

.sessao {
    margin: 0px 20px;
    background-color: #0090FF;
    width: 350px;
    height: 150px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    border: 5px solid #FFFFFF;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
}

.sessao:hover {
    background-color: #007AD7;
    cursor: pointer;
    transform: scale(1.05);
    border: 5px solid #FF8000;
}

/* --- Responsividade --- */

@media (max-width: 1200px) {
    .backgrounds {
        display: none;
    }
}

@media (max-width: 768px) {
    .transportadora,
    .casa,
    .carrinho {
        display: none;
    }
    
    .slogan {
    letter-spacing: 0px;
    font-size: 12px;
    }
    .logo {
        width: 280px;
        margin-bottom: 0px;
    }

    .area-sessao {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 20px;
        padding: 0;
    }

    .sessao {
        width: 290px; 
        height: 90px;
        margin: 10px 0;
        font-size: 24px;
    }

    .sessao:hover {
        transform: scale(1.02);
    }
}